html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #777;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
}

.node.irrelevant rect {
  stroke: #777;
  fill: #ccc;
}

.node.irrelevant text {
  fill: #777;
}

.tooltip-marker {
  fill: #777;
}
